<div class="new-meta-item">
  <i class="fa-duotone fa-eye" aria-hidden="true"></i>
  <p>&nbsp;</p>
  <span class="waline-pageview-count">
    <i class="fa-duotone fa-circle-notch fa-spin fa-fw" aria-hidden="true"></i>
  </span>
  <p>&nbsp;次浏览</p>
</div>
